.dash-1{
    background-color:rgb(38, 114, 230);
  
}
 .dash-2:hover{
    background-color:rgb(193, 193, 226);
    border-radius:8px;
width:100%;

   
}

.dash-3{
    margin-top:56px
}

@media only screen and (min-width:300px) and (max-width:800px){
    .dash-3{
        margin-top:90px
    }  
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 100%;
 
  margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
